.header-wrapper{
    border-bottom: 3px solid #7d97ad;
}

.header-wrapper--title{
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.logo-site {
    margin-top: 14px;
    height: 129px;
}

.site-title {
    padding: 0px;
}

.heading {
    font-size: 29px;
    letter-spacing: 3px;
    font-weight: 100;
}

.sub-heading {
    font-size:15px;
    line-height: 1px;
}

.section-img{
    width: 100%;
    padding-top: 20px;
}

.heading-image {
     color: #7d97ad;
     font-size: 30px;
}

@media screen and (min-width:993px){
    .heading{
        margin-top:50px;
    }
}
@media screen and (min-width:425px){
    .logo-site{
        width: 129px;
    }
}
@media screen and (min-width:375px){
    .logo-site{
        width: 129px;
    }
}
@media screen and (min-width:325px){
    .logo-site{
        width: 129px;
    }
}